.show{
    width: 13rem;
    height: fit-content;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-self: center;
}

.show h1, .show h3{
    margin: 0;
}

.show img{
    width: 13rem;
    height: 18rem;
}

.show .rat{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.show .rat, p{
    margin: 0;
}

.show .tra{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}